<div class="item col-xs-4 col-lg-4">
  <div class="thumbnail">
    <%= image_tag t("application.default-image"), 
      class: "group list-group-image mc-img" %>
    <div class="caption">
      <h4 class="group inner list-group-item-heading">
        <%= link_to book.title, [:admin, book] %>
      </h4>
      <p class="group inner list-group-item-text">
        <%= book.author %>
      </p>
      <p class="group inner list-group-item-text">
        <%= book.category.name %>
      </p>
      <p>
        <%= link_to t("book.edit"), edit_admin_book_path(book), 
          class: "btn btn-primary" %>
        <%= link_to t("book.delete"), admin_book_path(book), 
          method: :delete, data: {confirm: t("application.confirm")}, 
          class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>
