<li id="comment-<%= comment.id %>">
  <span class="user">
    <%= link_to comment.user.name, comment.user %>:
    <%= comment.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words comment.created_at %> ago.
  </span>
  <span class="comment">
      <% if comment.sub_comments.any?%>
        <%= render comment.sub_comments %>
      <% end %>
  </span>
  <span class="comment-form">
    <% if comment.parent_comment.nil? %>
        <%= form_for @comment, url: comments_path do |f|%>
          <%= f.text_field :content %>
          <%= f.hidden_field :parent_id, value: comment.id %>
          <%= f.submit "Comment" %>
        <% end %>
    <% end %>
  </span>
</li>
