<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header navbar-nav">
      <%= link_to t("application.logo"), root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">   
      <% if user_signed_in? %>
        <% if current_user.is_admin? %>
          <li>
            <%= link_to t("book.new"), new_admin_book_path %>
          </li> 
          <li>
            <%= link_to t("book.books"), admin_books_path %>
          </li>
        <% else %>
          <li>
            <%= link_to t("book.books"), books_path %>
          </li>
        <% end %>
        <li><%= link_to t("application.edit_profile"), 
          edit_user_registration_path %></li>
        <li><%= link_to t("application.logout"), destroy_user_session_path,
          method: :delete %></li>
      <% else %>
        <li><%= link_to t("application.login"), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
